{% extends 'accounts/dash.html' %}
{% load static %}
{% block cont %}

<h3 class="mb-4 text-center">Change password</h3>
<form action="" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Old password</label>
                <input type="password" name="old_password" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>New password</label>
                <input type="password" id="pass1" name="new_password1" class="form-control"
                    onkeyup="passCheck(); return false;" required >
            </div>
            <b><span id="msg"></span></b>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Confirm new password</label>
                <input type="password" id="pass2" name="new_password2" class="form-control"
                    onkeyup="passChecker(); return false;" required>
            </div>
            <b><span id="messg"></span></b>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" id="button">Update</button>
        <a href="{% url 'dashboard' %}" class="btn btn-danger ml-2">Cancel</a>
    </div>
</form>
<script src="{% static 'js/validation.js' %}"></script>
{% endblock cont %}