{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="section-conten padding-y" style="min-height: 84vh">
  <!-- ============================ COMPONENT LOGIN   ================================= -->

  <div class="card mx-auto" style="max-width: 380px; margin-top: 50px">
    <div class="card-body">
      <h4 class="card-title mb-4">Reset Password</h4>
      {% if form.errors %}
      <div id="err" class="alert alert-danger" role="alert">
        <p>Password do not match !</p>
      </div>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input
            type="password"
            id="pass1"
            class="form-control"
            placeholder="Password"
            name="new_password1"
            onkeyup="passCheck(); return false;"
          />
          <b><span id="msg"></span></b>
        </div>
        <!-- form-group// -->
        <div class="form-group">
          <input
            type="password"
            id="pass2"
            class="form-control"
            placeholder="Confirm Password"
            name="new_password2"
            onkeyup="passChecker(); return false;"
          />
          <b><span id="messg"></span></b>
        </div>
        <!-- form-group// -->

        <div class="form-group">
          <button type="submit" id="button" class="btn btn-primary btn-block">
            Reset Password
          </button>
        </div>
        <!-- form-group// -->
      </form>
    </div>
    <!-- card-body.// -->
  </div>
  <!-- card .// -->
</section>

<script src="{% static 'js/validation.js' %}"></script>

{% endblock content %}
