{% extends 'Base.html' %}
{% load static %}
{% block content %}

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
{% if not cart_items %}

<h2 class="text-center">Your cart is empty</h2>
<br>
<div class="text-center">
	<a href="{% url 'store' %}" class="btn btn-info">Continue Shopping</a>
</div>

{% else %}
<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
{% for item in cart_items %}
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{item.cart_product.product_image.url}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{item.cart_product.product_name}}</a>
				<p class="text-muted small">Brand: OAS <br></p>
				<span class="rating-star p-0">
				<i class="fa fa-star{% if item.cart_product.average_rating < 0.5 %}-o{% elif item.cart_product.average_rating >= 0.5 and item.average_rating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
				<i class="fa fa-star{% if item.cart_product.average_rating < 1.5 %}-o{% elif item.cart_product.average_rating >= 1.5 and item.average_rating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
				<i class="fa fa-star{% if item.cart_product.average_rating < 2.5 %}-o{% elif item.cart_product.average_rating >= 2.5 and item.average_rating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
				<i class="fa fa-star{% if item.cart_product.average_rating < 3.5 %}-o{% elif item.cart_product.average_rating >= 3.5 and item.average_rating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
				<i class="fa fa-star{% if item.cart_product.average_rating < 4.5 %}-o{% elif item.cart_product.average_rating >= 4.5 and item.average_rating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
				</span>
				<p class="text-muted small"><span class="text-danger"><b>{{item.cart_product.product_stock}}</b></span> items left</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
					<div class="col"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
							<a href="{% url 'remove_one_cart_item' item.cart_product.id %}" class="btn btn-light" type="button" id="button-minus"> <i class="fa fa-minus"></i> </a>
							</div>
							<input type="text" class="form-control"  value="{{item.cart_quantity}}">
							<div class="input-group-append">
							<a href="{% url 'add_to_cart' item.cart_product.id %}" class="btn btn-light" type="button" id="button-plus"> <i class="fa fa-plus"></i> </a>
							</div>
						</div> <!-- input-group.// -->
					</div> <!-- col.// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">{{item.sub_total}} Tk</var> 
			<small class="text-muted"> {{item.cart_product.product_price}} Tk each</small> 
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right"> 
	<a href="{% url 'remove_from_cart' item.cart_product.id %}" class="btn btn-danger"> Remove</a>
	</td>
</tr>
{% endfor %}
</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Product price:</dt>
			  <dd class="text-right">{{total}} Tk</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Delivery Fee:</dt>
			  <dd class="text-right">{{tax}} Tk</dd>
			</dl>
			<dl class="dlist-align">
			  <dt>Grand Total:</dt>
			  <dd class="text-right text-dark b"><strong>{{grand_total}} Tk</strong></dd>
			</dl>
			<hr>
			
			<a href="{% url 'place_order' %}" class="btn btn-primary btn-block"> Checkout </a>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
{% endif %}
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>


{% endblock content %}